
fastapi
uvicorn
pydantic
numpy
soundfile
librosa
einops
scipy
tqdm
pyyaml
phonemizer
praat-parselmouth
mido
music21
matplotlib
crepe
h5py
miditoolkit
datasets
torch-audiomentations
pyworld
torchcrepe
huggingface_hub
onnxruntime
scikit-learn
requests
